a{
    text-decoration: none;
    color:white;
}

a:hover{
    color: #AAD4EE;
}

body{ 
    margin:0;
}

button {
    background-color: white;
    color: #AAD4EE;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 0.1em;
    padding: 10px 30px;
    border-color: white;
    border-radius: 12px;
    cursor: pointer;
    border-style: solid;
}

button:hover:not([disabled]){
    letter-spacing: 0.25em;
    background: var(--clr);
    color: white;
    box-shadow: 0 0 35px var(--clr);
    border-color: #AAD4EE;
}

button:disabled{
    cursor: no-drop;
}

input {
    color:#56BDEC;
    font-size: 125%;
    font-family:monospace;
    border: 1px solid;
    box-shadow: 0 1px 5px rgba(255, 255, 255, 0.781);
}

.btn{
    width: 100%;
    margin:10px 0px;
    text-align: left;
}

.childHomeDiv{
    font-family:monospace;
    position: absolute;
    padding:10px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border: 2px solid;
    box-shadow: 0 10px 15px rgba(255, 255, 255, 0.781);
}

.correct{
    background-color: #99c455;
    color:white;
}

.heading1 {
    animation: glow 2500ms linear infinite 2000ms;
    font-size: 400%;
    font-weight: bold;
}

.heading2 {
    font-size: 400%;
    font-weight: bold;
}

.heading3 {
    font-size:150%;
    font-weight:bolder;
}

.homeDiv {
    background-color: #56BDEC;
    color:white;
    margin-left: 1vw;
    margin-right:1vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    position:relative;
    text-align: center;
    height: 98vh;
    width: 98vw;
}

.incorrect{
    background-color: #d80c55;
    color:white;
}

#next-btn{
    margin-top: 10px;
    width:100%;
}

#quit-btn{
    margin-top: 10px;
    width:100%;
}

@keyframes glow {
    40% {
      text-shadow: 0 0 8px #fff;
    }
  }

::placeholder{
    color:#56BDEC;
}